body {
	margin: 0;
	font-family: sans-serif;
}
.page {
	height: 760px;
	position: relative;
}
.header {
	background-color: #000;
	color: #fff;
	height: 100px;
	-webkit-print-color-adjust: exact;
}
.header img.arrow {
	position: absolute; 
	left: 20px;
	top: 8px;
}
h1, h2 {
	margin: 0 0 0 120px;
}
h2 { font-size: 14px; font-weight: normal; padding-top: 20px;}
h1 { font-size: 36px; }
.bus {
	float: left;
	width: 320px;
	border: 1px solid #aaa;
}
.bus:first-child { margin-left: 30px; }
.bus:not(:first-child) { margin-left: -1px; }
.bus .title {
	height: 57px;
	background-color: #ddd; 
	padding-top: 5px;
}
.bus .title h3 {
	margin: 0 5px; 
	height: 50px;
	width: 50px;
	border: 1px solid #666;
	border-radius: 5px;
	text-align: center;
	line-height: 50px;
	float: left;
}
.bus .title ul.places {
	padding: 3px 0 0 10px;
	float: left;
	width: 240px;
	margin: 0;
}
.bus .title ul.places li {
	display: inline;
	background: url(arrow-right.png) no-repeat left 1px;
	padding-left: 18px;
	padding-right: 7px;
}
.bus table.schedule {
	width: 320px;
}
.bus table.schedule th {
	width: 33%;
	text-align: left;
	padding: 5px 0 5px 5px;
}
.bus table.schedule th, .bus table.schedule td {
	border-right: 1px solid #ccc;
	vertical-align: top;
}
.bus table.schedule th:last-child, .bus table.schedule td:last-child {
	border-right: none;
}
.bus table.schedule td ul {
	font-size: 12px;
	list-style-type: none;
	padding-left: 0px;
	margin-top:2pt;
}
.bus table.schedule td ul li {
	float: left;
	clear: left;
	line-height: 18px;
}
.bus table.schedule td ul li span.pm {
	font-weight: bold;
}
.bus table.schedule td ul li span {
	display: block;
	float: left;
	width: 25px;
}
.bus table.schedule td ul li span:first-child {
	width: 55px;
}

.footer {
	clear: left;
	bottom: 10px;
	left: 30px;
	width: 100%;
	position: absolute;
}

.footer .logo {
	float: left;
	margin: 0 10px 10px 0;
	height: 50px;
	width: 50px;
}
.footer .logo-big {
	float: left;
	margin: 0 10px 10px 0;
	height: 50px;
}
.footer .ack {
	font-size: 12px;
	margin-right: 20px;
	float: left;
}
.footer .QR {
	float: right;
	text-align: right;
	font-size: 12px;
	margin-right: 60px;
}
.footer .QR p {
	margin: 0;
}
.hour {
	text-align:right;
	margin-right:4pt;
}
.ampmText {
	margin-right:2pt;
}
